<a href="https://colab.research.google.com/github/MayumyCH/credit_card_project_pyhton/blob/main/credit_card_project_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# credit_card_project_pyhton

In [ ]:
# Convertir de numero a string
var_num = 10 # str(var_num)

# Convertir de string a numero
var_string = "18.2" # float(var_string)

# Saber que tipo es!
type(var_string)

str

In [ ]:
list_fam = ["heydy", 22, "ines", 54, "henry", 22,"oscar", 38]

# Rebanado [ start : end ]
#        Inclusive : exclusive
print(list_fam[3:5]) # CROP no toma el ultimo digito 
print(list_fam[:5]) # CROP Desde el inicio hasta la posicion 4
print(list_fam[5:]) # CROP Desde la posicion 5 hasta el final
print("----")
list_fam[:2]= ["Mayumy", 24]
print(list_fam)
print("----")
fam_Ext = list_fam + ["Achuchena", 12] # ADD elements
print(fam_Ext)
print("----")
del(fam_Ext[-1]) # REMOVE elements
print(fam_Ext)
print("----")
print("Indice:", list_fam.index("ines")) # OBTENER el INDICE de la lista
print(f"Contar: {list_fam.count(22)}") # CONTAR cuantas veces aparece algo

[54, 'henry']
['heydy', 22, 'ines', 54, 'henry']
[22, 'oscar', 38]
----
['Mayumy', 24, 'ines', 54, 'henry', 22, 'oscar', 38]
----
['Mayumy', 24, 'ines', 54, 'henry', 22, 'oscar', 38, 'Achuchena', 12]
----
['Mayumy', 24, 'ines', 54, 'henry', 22, 'oscar', 38, 'Achuchena']
----
Indice: 2
Contar: 1